.logement-container{
    width: 90%;
    margin: auto;
    font-family: 'Montserrat';
}

.main-info{
    display: flex;
    justify-content: space-between;
}

h1{
    color: #FF6060;
    font-size: 36px;
}
.location{
    font-weight: 500;
    font-size: 18px;
}

.tagsContainer {
    margin: '20px 0';
    display: 'flex';
    flex-wrap: 'wrap';
    gap: '10px';
  }

.profil{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.profil p{
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    width: 50%;
}
.profil img{
    width: 74px;
    height: 74px;
    border-radius: 50%;
}

.infos-perso{
    margin-top: 15px;
}
.rating{
    padding-left: 55px;
    font-size: large;
}
.collapse{
display: flex;
justify-content: space-between;
margin-top: 15px;
padding-right: 5px;
}


@media (max-width: 768px) {
    .logement-container{
        width: 90%;
        margin: auto;
        font-family: 'Montserrat';
        display: flex;
        flex-direction: column;
    }

    .main-info{
        display: flex;
        flex-direction: column;
    }

    .infos-perso{
        display: flex;
        flex-direction: row-reverse !important;
        justify-content: space-between;
    }

    .collapse{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between !important;
    }

    .collapse .propos{
        width: 100% !important;
        padding-bottom: 15px;
    }

    .numerotation{
        display: none;
    }
  }