.logement-container{
    border: solid black;
    width: 90%;
    margin: auto;
    font-family: 'Montserrat';
}

.main-info{
    display: flex;
    justify-content: space-between;
}

h1{
    color: #FF6060;
    ;
}

.tagsContainer {
    margin: '20px 0';
    display: 'flex';
    flex-wrap: 'wrap';
    gap: '10px';
  }

.profil{
    border: solid red;
    display: flex;
    gap: 5px;
}
.profil img{
    width: 74px;
    height: 74px;
    border-radius: 50%;
}
