.cards-section{
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    background-color: #F6F6F6;
    width: 95%;
    margin: auto;
    border-radius: 25px;
}



@media (max-width: 768px) {
    .cards-section{
    display: flex ;
    flex-direction: column;
    }


        .card:nth-child(n+4) {
          display: none; /* Masquer les cartes à partir de la quatrième */
        }
      
}