img{
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 75%;
    margin: auto;
    cursor: pointer;
    padding-top: 30px;
}

.imgTitle{
    position: absolute;
    bottom: 5px;
    left: 10px;
    text-align: center;
    color: white;
    size: 18px;
    width: 50%;

}


@media (max-width: 768px) {
    .cards-section{
    /* display: flex ;
    flex-direction: column;
    margin-right: 5% !important; */
    }

    .card{
        margin-right: 90px;
    }

    .card img{
        width: 386px;

    }

      
}