.carrousselImg{
    position: relative;
}


.prevBtn{
    position: absolute;
    left: 80px;
    top: 250px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: larger;
}

.nextBtn{
    position: absolute;
    right: 80px;
    top: 250px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.numerotation{
position: absolute;
bottom: 250px;
left:700px;
color: white;
font-size: larger;
}


@media (max-width: 768px) {

    .prevBtn {
       left: 40px !important;
       object-fit: fill !important;
       font-size: small;
       
    }

    .nextBtn{
        right: 40px;
       

     }

    /* width="48" height="80"  */

    button svg{
        width: 24px;
        height: 40px;
        margin-top: 20px;
    }

     /* Assure que les images du carrousel sont fluides */
  .carrousselImg {
    width: 100%; 
    height: auto;
  }
}